%code.well(style="margin: 10px 0 0 270px;")
  %span.kwd(style="color: navy;")
    = "<%="
  %span.kwd(style="color: #0086B3;")
    insert_form
  = "'#{name}'" 
  %span.kwd(style="color: navy;")
    = "%>"