.nested-fields
  = f.input :label, disabled: true
  = f.input :visible, inline_label: 'visible',  label: false, html: { class: "inline"}
  .control-group
    .controls
      = link_to_remove_association "remove", f, class: "btn btn-danger"
