<div class="nested-fields">
  <%= f.input :label, disabled: true  %>
  <%#= f.hint '' %>
  <%= f.input :visible, inline_label: 'visible',  label: false, html: { class: "inline"} %>
  <div class ="control-group">
    <div class="controls">
      <%= link_to_remove_association "remove", f, class: "btn btn-danger" %>
    </div>
  </div>  
</div>