!!!
%html
  %head
    = render'shared/meta'
  %body(class='container')
    %div(class='alert alert-error')
      %a(class="close" data-dismiss="alert" href="#")
        x
      = alert
    %div(class='alert alert-info')
      %a(class="close" data-dismiss="alert" href="#")
        x
      = notice
    #nav_and_login(class='')
      #auth
        = render 'shared/auth'
      #footer
        copyright © 2012 kirillivanov.ru
        %br
        =# controller_name 
        =# action_name
        =# debug params