!!!
%html
  %head
    = render'shared/meta'
  %body(class='container')
    - flash.each do |name, msg|
      .row{ class: "alert alert-#{ name == :notice ? "success" : "error" }" }
        = msg
    #nav_and_login.row
      #logout
        = render 'shared/auth'
      -if user_signed_in?
        #navigation

    #content
      =# custom_form({object: Form, fields: [["text", "value"], ["select", "value1_|_value2_|_value3"], ["text", "value"]]})
    #footer.row(style="text-align: center;")
      copyright © 2012 kirillivanov.ru
      %br
      =# controller_name 
      =# action_name
      =# debug params